{% extends 'base.html' %}

{% block title %}
  Create Piar
{% endblock %}

{% block body %}
<div class="container" >
  <div class="col-md-7 col-lg-8">
    <h4 class="mb-3">PURCHASE REQUISITION</h4>
    <form method="POST" class="needs-validation">
      <div class="row g-4">

        <div class="col-sm-6">
          <label for="requis" class="form-label">Requisitioner</label>
          <select name="requis" id="requis" class="form-select" required>
            <option value="">Requisitioner...</option>
            {% for name in names %}
            <option value="{{ name }}">{{ name }}</option>
            {% endfor %}
          </select>
        </div>


        <div class="col-sm-6">
          <label for="vendor" class="form-label">Recommended vendor</label>
          <input type="text" class="form-control " name="vendor" id="vendor" placeholder="Рекомендуемый поставщик" required>
        </div>



        <div class="col-12">
          <label for="desc" class="form-label">Description of Materials or Services</label>
          <div class="input-group  has-validation">
              <textarea name="desc" id="desc" cols="30" rows="3" class="form-control" placeholder="Описание материалов | услуг" required></textarea>
          </div>
        </div>

        <div class="col-12">
          <label for="invoice" class="form-label">Invoice
          <span class="text-muted">(Optional)</span></label>
          <div class="input-group has-validation">
            <textarea name="invoice" id="invoice" class="form-control"></textarea>
          </div>
        </div>
        <hr class="my-4">

        <button class="w-100 btn btn-primary btn-lg" type="submit">Сreate a request</button>

      </div>
    </form>
  </div>
</div>
{% endblock %}