{% extends 'base.html' %}


{% block title %}PIAR Page{% endblock %}


{% block body %}
<div class="table1">
  <table>
    <thead>
      <tr>
        <th style="width: 10%;">BSG Purchase Requisition No.</th>
        <th style="width: 7%;">Date</th>
        <th style="width: 11%;">Requisitioner</th>
        <th>Description of Materials or Services</th>
        <th>Contract / PO / Invoice</th>
        <th>Supplier</th>
        <th>Total value</th>
        <th style="width: 10%">Download Piar</th>
      </tr>
    </thead>
    <tbody>
    {% for el in articles %}
      <tr>
        <td>SVR-PR-{{ '{:05}'.format(el.id) }}</td>
        <td>{{el.date.date()}}</td>
        <td>{{ el.requis }}</td>
        <td>{{ el.desc }}</td>
        <td>{{ el.invoice }}</td>
        <td>{{el.vendor}}</td>
        <td>{{el.total_price}} </td>
        <td>
          <a href="index/{{ el.id }}/pr" class="btn btn-primary btn-sm">Open</a>
          <a href="/index/{{ el.id }}" class="btn btn-primary btn-sm">Download</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}